{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [ "@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "config": "./volume/config",
                    "consts": "./src/consts",
                    "env": "./src/env",
                    "gmr": "./src/packages/gamercert-common-js/export-node"
                }
            }
        ]
    ]
}